body {
    margin: 0px;
    background-color: rgb(24, 12, 5);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 70px;
    background-color: rgb(60, 32, 16);
    border-bottom: 3px rgb(180, 12, 12) solid;
}
.logo{
    width: 30%;
    padding-left: 10%;
    color: white;
}
.pasek{
    width: 50%;
    text-align: right;
}
ul {
    list-style-type: none;
}
li {
    font-size: 1.5em;
    margin-right: 30px;
    display: inline;
}
li a {
    color: rgb(255, 176, 176);
    text-decoration: none;
}
li a:hover {
    color: rgb(234, 134, 134);
    border-bottom: 2px rgb(180, 12, 12) solid;
}
.newsletter {
    width: 20%;
    text-align: right;
    padding: 20px;
    padding-right: 50px;
}
form {
    display: inline;
}
input {
    margin: 10px;
}
